<header class="header">
  <a id="logo-img" [routerLink]="['/']"
    ><img src="../../assets/logo-broad-image.png"
  /></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a class="router-links" [routerLink]="['/']">Home</a></li>
    <li><a class="router-links" [routerLink]="['/about']">About</a></li>
    <li><a class="router-links" [routerLink]="['/services']">Services</a></li>
    <li><a class="router-links" [routerLink]="['/projects']">Projects</a></li>
    <li><a class="router-links" [routerLink]="['/contact']">Contact</a></li>
  </ul>
</header>
