<div class="title">
  <div class="site-image">
    <img src="../../assets/building-image.png" />
  </div>
  <!-- <span class="site-title">NEW DELTA HOLDING</span> -->
</div>
<div class="router-links">
  <a class="about-router routes" [routerLink]="['/about']">About</a>
  <a class="service-router routes" [routerLink]="['/services']">Services</a>
  <a class="project-router routes" [routerLink]="['/projects']">Projects</a>
  <a class="contact-router routes" [routerLink]="['/contact']">Contact</a>
  <mat-icon class="search-icon">search</mat-icon>
</div>
