// .footer-container {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     background: black;
// }
// .footer-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     .content {
//         width: 15em;
//         // padding: 30px 26% 0px;
//         color: gold;
//         text-align: justify;
//     }
//     .links {
//         display: flex;
//         width: 15em;
//         // padding-left: 50%;
//         gap: 5px;
//         .link-icons {
//             text-decoration: none;
//             width: 30px;
//             display: flex;
//             height: 30px;
//             justify-content: center;
//             align-items: center;
//             background: yellow;
//         }
//     }
// }

// .copyright {
//     display: flex;
//     justify-content: space-evenly;
//     .content-heading {
//         font-size: 28px;
//     }
//     h4 {
//         &::before{
//             background-color: #f5b904;
//             width: 30px;
//             height: 2px;
//         }
//         &::after {
//             position: absolute;
//             content: '';
//             width: 30%;
//             height: 6px;
//             left: 0;
//             bottom: -1px;
//         }
//     }
//     .services-list,.contact-list {
//         color: gold;
//         .routes {
//             color: #FFB300;
//             font-size: 15px;
//             text-decoration: none;
//         }
//     }
// }

// img {
//     width: 15em;
// }






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.row{
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}
ul{
	list-style: none;
}
.footer-col-1{
   width: 50%;
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5em;
   margin-bottom: 2em;
   img {
    width: 25vw;
   }
   h4 {
    color: gold;
    width: 25vw;
    text-align: justify
   }
   .links {
        display: flex;
        width: 25vw;
        justify-content: space-evenly;
        // padding-left: 50%;
        gap: 5px;
        .link-icons {
            text-decoration: none;
            width: 30px;
            display: flex;
            height: 30px;
            justify-content: center;
            align-items: center;
            background: yellow;
        }
    }
}
.footer-col-2,.footer-col-3{
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 18px;
        color: gold;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color:#b2beb5;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    ul li:not(:last-child){
        margin-bottom: 10px;
    }
    ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: gold;
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
    }
    ul li a:hover{
        color: gold;
        // padding-left: 8px;
    }
    .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
 }
// .footer-col h4{
// 	font-size: 18px;
// 	color: #ffffff;
// 	text-transform: capitalize;
// 	margin-bottom: 35px;
// 	font-weight: 500;
// 	position: relative;
// }
// .footer-col h4::before{
// 	content: '';
// 	position: absolute;
// 	left:0;
// 	bottom: -10px;
// 	background-color: #e91e63;
// 	height: 2px;
// 	box-sizing: border-box;
// 	width: 50px;
// }
// .footer-col ul li:not(:last-child){
// 	margin-bottom: 10px;
// }
// .footer-col ul li a{
// 	font-size: 16px;
// 	text-transform: capitalize;
// 	color: #ffffff;
// 	text-decoration: none;
// 	font-weight: 300;
// 	color: #bbbbbb;
// 	display: block;
// 	transition: all 0.3s ease;
// }
// .footer-col ul li a:hover{
// 	color: #ffffff;
// 	padding-left: 8px;
// }
// .footer-col .social-links a{
// 	display: inline-block;
// 	height: 40px;
// 	width: 40px;
// 	background-color: rgba(255,255,255,0.2);
// 	margin:0 10px 10px 0;
// 	text-align: center;
// 	line-height: 40px;
// 	border-radius: 50%;
// 	color: #ffffff;
// 	transition: all 0.5s ease;
// }
// .footer-col .social-links a:hover{
// 	color: #24262b;
// 	background-color: #ffffff;
// }

/*responsive*/
@media(max-width: 767px){
  .footer-col-2{
    width: 50%;
    margin-bottom: 30px;
    }
    .footer-col-3 {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col-1 {
        width: 100%;
        img {
            width: 65vw
        }
        h4 {
            width: 65vw
        }
    }
    .footer-col-2,.footer-col-3{
    width: 100%;
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}




