<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
  />
</head>

<div class="row">
  <div class="footer-col-1">
    <img src="../../assets/logo-broad-image.png" />
    <h4>
      We are a Property Management Company. Main focus of the company is
      managing the rental properties, dealing with Tenants and Landlord, doing
      extensive property renovations and also helping clients towards Real
      Estate Investments.
    </h4>
    <div class="links">
      <a class="link-icons" [routerLink]="['/contact']">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a class="link-icons" [routerLink]="['/contact']">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="link-icons" [routerLink]="['/contact']">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a class="link-icons" [routerLink]="['/contact']">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="link-icons" [routerLink]="['/contact']">
        <i class="fa-brands fa-pinterest-p"></i>
      </a>
    </div>
  </div>
  <div class="footer-col-2">
    <h4>Services</h4>
    <ul>
      <li><a [routerLink]="['/contact']">Projects</a></li>
      <li><a [routerLink]="['/contact']">Construction</a></li>
      <li><a [routerLink]="['/contact']">Rental</a></li>
      <li><a [routerLink]="['/contact']">Renovations</a></li>
    </ul>
  </div>
  <div class="footer-col-3">
    <h4>Contact Us</h4>
    <ul>
      <li><a [routerLink]="['/contact']">Office</a></li>
      <li><a [routerLink]="['/contact']">Free Callback</a></li>
      <li><a [routerLink]="['/contact']">Address</a></li>
      <li><a [routerLink]="['/contact']">Online Form</a></li>
    </ul>
  </div>
</div>
