<div class="footer-container">
  <div class="footer-content">
    <div class="footer-building-img">
      <img src="../../assets/building-image.png" />
    </div>
    <div class="content">
      We are a Property Management Company. Main focus of the company is
      managing the rental properties, dealing with Tenants and Landlord, doing
      extensive property renovations and also helping clients towards Real
      Estate Investments.
    </div>
  </div>
  <div class="copyright">
    <div class="services-list">
      <h4>Services</h4>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/about']">Projects</a>
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/projects']">Construction</a
        >
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/services']">Rental</a>
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/services']"
          >Renovations</a
        >
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/services']"
          >Investments</a
        >
      </div>
    </div>
    <div class="contact-list">
      <h4>Contact Us</h4>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/contact']">Office</a>
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/projects']"
          >Free Callback</a
        >
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/services']">Address</a>
      </div>
      <div class="links">
        <a class="about-router routes" [routerLink]="['/services']"
          >Online Form</a
        >
      </div>
    </div>
  </div>
</div>
