<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>

<div class="container">
    <section class="contacts">
        <div class="contact-card">
            <i class="fa fa-envelope-o image" style="display: inline-block; font-size: 30px; padding: 15px 15px;"></i>
            <div class="cantact-content">
                <span style="display: block;">Support</span>
                <span>info@goldLeafConstruct.com</span>
            </div>
        </div>
        <div class="contact-card">
            <i class="fa fa-mobile image" style="display: inline-block; font-size: 30px; padding: 15px 20px;"></i>
            <div class="cantact-content">
                <span style="display: block;">Phone</span>
                <span>+91(9444898090)</span>
            </div>
        </div>
        <div class="contact-card">
            <i class="fa fa-thumb-tack image" style="display: inline-block; font-size: 30px; padding: 15px 20px;"></i>
            <div class="cantact-content">
                <span style="display: block;">Address</span>
                <span>18/9 New Hyderabad</span>
            </div>
        </div>
    </section>
    <section class="contact-form">
        <div class="contact-form-section1">
            <div class="contact-msg" style="font-size: 1.2em;margin: auto;  font-weight: bolder;">Send your message via below form</div>
            <div class="text-box">
                <input type="text" id="name" placeholder="Your Name(*)" class="text1" >
                <input type="text" id="name" placeholder="Your Email(*)" class="text1" >
                <input type="text" id="name" placeholder="Subject" class="text1" >
                <select name="" id="" class="text1" style="padding: 0.2em; width: 47%;">
                    <option value="">Business Department</option>
                    <option value="">Personal Department</option>
                    <option value="">Support Department</option>
                    <option value="">Other</option>
                </select>
                <textarea name="" id="" cols="30" rows="10" class="text2" placeholder="Your Message"></textarea>
                <button class="button" type="submit">Send Message</button>
            </div>
        </div>
        <div class="contact-form-section2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7615.0423628595445!2d78.47927516993221!3d17.386758526997014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1686212182596!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="base-card" style="background-color: #645124;margin: auto;justify-content: center;display: flex;height: 5em;">
        <i class="fa fa-mobile" style="display: inline-block; font-size: 30px; padding: 20px 20px;"></i>
        <span  style="font-size: 1.5em;color: aliceblue;padding: 18px 20px;">CALL US TODAY AT (+91) 94448 98090</span>
    </section>
</div>