body {
    font-family: "Roboto", sans-serif;
  
    margin: 2vw;
  }
  
  p:hover {
    cursor: default;
  }
  
  .grid-container {
    border: solid 1px #eeeeee;
    padding: 0.5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 24.5vw;
    grid-gap: 0.6vw;
  }
  
  .griditem {
    background-size: cover;
    background-position: center;
    // filter: grayscale(100%);
    padding: 2vw;
    font-size: 0.8em;
    box-sizing: border-box;
  }
  .griditem:hover {
    cursor: pointer;
    filter: brightness(70%) grayscale(100%);
  }
  
  .image1 {
    filter: grayscale(60%);
    background-position: bottom right ;
    background-image: url("https://images.pexels.com/photos/3809772/pexels-photo-3809772.jpeg?auto=compress&cs=tinysrgb&w=600");
    /*grid-area: image1;*/
  }
  .image2 {
    text-align: center;
  }
  .image3 {
    // filter: grayscale(0%);
    background-position: bottom left ;
    background-image: url("https://images.pexels.com/photos/1209982/pexels-photo-1209982.jpeg?auto=compress&cs=tinysrgb&w=600");
    /*grid-area: image3;*/
  }
  .image4 {
    
    text-align: center;
  }
  .image5 {
    
    text-align: center;
  }
  .image6 {
    // filter: grayscale(100%);
    background-image: url("https://images.pexels.com/photos/4564088/pexels-photo-4564088.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  .image7 {
    
    text-align: center;
  }
  .image8 {
    background-position: bottom right ;
    // filter: grayscale(100%);
    background-image: url("https://images.pexels.com/photos/4916517/pexels-photo-4916517.jpeg?auto=compress&cs=tinysrgb&w=600");
  }
  .modal {
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    /* below covers window area*/
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
  }
  .modal-content {
    display: block;
  }
  .modal-btn {
    color: red;
    padding: 4px 8px;
    position: absolute;
    right: 10vw;
    top: 1vh;
  }
  .modal-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }
  .animate-zoom {
    animation: animatezoom 0.8s;
  }
  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .topright {
    position: relative;
    right: 0;
    top: 0;
  }
  .mod-img {
    object-fit: scale-down;
    display: block;
    height: 98vh;
    width: 100%;
    max-width: 99vw;
    margin: 1vh auto;
  }
  mod-img:hover {
  }
  h2 {
    color: red;
  }
  
  .Projects-para{
    font-family: 'Roboto',sans-serif;
    font-size: 3em;
    line-height: 0.5em;
    position: relative;
    top: 40%;
  }