<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script>
    document.getElementById("grid").addEventListener("click", onImage);

    function onImage(event) {
      var x = event.target;
      const image = getComputedStyle(x);
      x.src = image.backgroundImage.slice(5, -2);
      if (x.src == "") {
        return;
      } else {
        var modal = document.getElementById("modal01");
        modal.style.display = "block";
        var img01 = document.getElementById("img01");
        img01.src = x.src;
        document.getElementById("btn1").addEventListener("click", function () {
          modal01.style.display = "none";
        });
        console.log(x.src, img01.clientWidth, img01.clientHeight);
      }
    }

  </script>
</head>
<div id="grid" class="grid-container">
  <div id="image1" class="griditem image1"></div>
  <div id="image2" class="griditem image2" style="background-color: #2d2d2d;">
    <p class="Projects-para" style="line-height: 1em;color: #ffe101;">Curve Building</p>
  </div>
  <div id="image3" class="griditem image3"></div>
  <div id="image4" class="griditem image4" style="background-color: #2d2d2d;">
    <p class="Projects-para" style="line-height: 1em;color: #ffe101;">Royal Tower</p>
  </div>
  <div id="image5" class="griditem image5" style="background-color: #2d2d2d;">
    <p class="Projects-para" style="line-height: 1em;color: #ffe101;">Our Office</p>
  </div>
  <div id="image6" class="griditem image6"></div>
  <div id="image7" class="griditem image7" style="background-color: #2d2d2d;">
    <p class="Projects-para" style="line-height: 1em;color: #ffe101;">Trade Center</p>
  </div>
  <div id="image8" class="griditem image8"></div>

</div>


<footer>
  <app-footer></app-footer>
  <app-copyright></app-copyright>
</footer>