<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
  />
</head>

<div class="container-fluid">
  <section class="about">
    <div class="about-content">
      <div class="about-heading">
        <h3 class="content-heading" style="font-weight: bolder">About Us</h3>
        <span class="content-heading sub">Who We Are?</span>
      </div>
      <p class="about-us-content">
        New Delta Holding Corp is a Property Management Company. Main focus of
        the company is managing the rental properties, dealing with Tenants and
        Landlord, doing extensive property renovations and also helping clients
        towards Real Estate Investments.
      </p>
      <p class="about-us-content">
        Construction as an industry comprises six to nine percent of the gross
        domestic product of developed countries. Construction starts with
        planning, design, and financing; and continues until the project is
        built and ready for use.
      </p>
      <div class="check-list">
        <div class="check-list-tems">
          <i
            class="fa-sharp fa-solid fa-circle-check circle-icon"
            style="font-size: 24px; position: relative; padding: 16px"
          ></i>
          <p class="icon-text">Road</p>
        </div>
        <div class="check-list-tems">
          <i
            class="fa-sharp fa-solid fa-circle-check circle-icon"
            style="font-size: 24px; position: relative; padding: 16px"
          ></i>

          <p class="icon-text">Building</p>
        </div>
        <div class="check-list-tems">
          <i
            class="fa-sharp fa-solid fa-circle-check circle-icon"
            style="font-size: 24px; position: relative; padding: 16px"
          ></i>

          <p class="icon-text">Bridge</p>
        </div>
        <div class="check-list-tems">
          <i
            class="fa-sharp fa-solid fa-circle-check circle-icon"
            style="font-size: 24px; position: relative; padding: 16px"
          ></i>

          <p class="icon-text">Tower</p>
        </div>
      </div>
    </div>
    <div class="about-image">
      <img
        src="https://images.pexels.com/photos/1106476/pexels-photo-1106476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Image of a building"
      />
    </div>
  </section>
  <section class="ourTeam" style="margin-top: 1.5em; background-color: #383838">
    <div class="img">
      <div class="vert1">
        <img
          src="https://images.unsplash.com/photo-1589360041338-2143448e5c80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
          alt=""
        />
        <div class="img-description">
            <span class="ourTeam-N" style="margin-top: 1em">John Doe</span>
            <span class="ourTeam-R">Architect</span>
        </div>
      </div>
    </div>
    <div class="img" style="align-self: center">
      <div class="vert2">
        <img
          src="https://images.unsplash.com/photo-1589360041338-2143448e5c80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
          alt=""
        />
        <div class="img-description">
            <span class="ourTeam-N" style="margin-top: 1em">Mark Doe</span>
            <span class="ourTeam-R">Engineer</span>
        </div>
      </div>
    </div>
    <div class="img">
      <div class="vert3">
        <img
          src="https://plus.unsplash.com/premium_photo-1682092105693-1a2566cf2ee1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
          alt=""
        />
        <div class="img-description">
            <span class="ourTeam-N" style="margin-top: 1em">John David</span>
            <span class="ourTeam-R">Manager</span>
        </div>
      </div>
    </div>
  </section>
  <section class="projects">
    <div class="projects1">
        <div class="projects-heading" style="margin-top: 1.5em;">
            <span style="font-size: 2em;">Our Projects</span>
            <p style="font-size: 1.5em;">What we Do?</p>
        </div>
        <div id="projects-btn" class="button">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-solid fa-calculator" style="color:#808080"></i>
                Get a Quote
            </a>
        </div>
    </div>
    <div class="projects2">
        <div class="projects-image-1">
            <img src="https://images.unsplash.com/photo-1429292394373-ddbcc6bb7468?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
                alt="">
        </div>
        <div class="projects-image-2">
            <img src="https://images.unsplash.com/photo-1494768788897-7fdaa00de2a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80"
                alt="">
        </div>
        <div class="projects-image-3">
            <img src="https://images.unsplash.com/photo-1492914194644-9685e8794ef0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=776&q=80"
                alt="">
        </div>
        <div class="projects-image-4">
            <img src="https://images.unsplash.com/photo-1586958479362-502a51e36455?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80"
                alt="">
        </div>
    </div>
</section>
  <section></section>
</div>

<footer>
  <app-footer></app-footer>
  <app-copyright></app-copyright>
</footer>
