<main id="main" class="container-fluid" style="width: 100vw; margin-top: 0px">
  <section class="home-img-card">
    <div></div>
    <p>
      Our Experience is ready for you <br />
    </p>
    <span> Our Services are <i class="fa-solid fa-arrow-right" style="color:#FFD700;position: relative;top: 0.2em;"></i> </span>

  </section>
  <section class="cards" style="background-color: #383838">
    <div class="construction">
      <span class="i-box-gold"><i class="fa-solid fa-building" style="font-size: 24px"></i></span>
      <span class="card-heading">Construction</span>
      <p class="card-p">
        We Provide Construction Services i.e. is the process of constructing a
        building or infrastructure.
      </p>
    </div>
    <div class="rental">
      <span class="i-box-gold"><i class="fa-sharp fa-solid fa-wrench" style="font-size: 24px"></i></span>
      <span class="card-heading">Rental Properties</span>
      <p class="card-p">
        We efficiently Manage Rental Properties to Your satisfaction and dealing
        with Tenants and Landlord.
      </p>
    </div>
    <div class="renovations">
      <span class="i-box-gold"><i class="fa-solid fa-building-user" style="font-size: 24px"></i></span>
      <span class="card-heading">Property Renovations</span>
      <p class="card-p">
        We do extensive property renovations after research and innovation.
      </p>
    </div>
    <div class="ivestments">
      <span class="i-box-gold"><i class="fa-solid fa-map" style="font-size: 24px"></i></span>
      <span class="card-heading">Real Estate Investments</span>
      <p class="card-p">
        We also help our clients towards Real Estate Investments best ROI
        options.
      </p>
    </div>
  </section>
  <section class="about-us">
    <div class="button">
      <div class="about-us-wwa">
        <span>About Us</span>
        <p>Who we Are?</p>
      </div>
      <p class="about-us-content">New Delta Holding Corp is a Property Management Company. Main focus of the
        company is managing the rental properties, dealing with Tenants and Landlord, doing extensive property
        renovations and also helping clients towards Real Estate Investments.</p>
      <a [routerLink]="['/about']">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Read more
        <i class="fa-solid fa-arrow-right" style="color:#808080"></i>
      </a>
    </div>
    <div class="about-us-img">
      <img
        src="https://www.catrentalstore.com/ringpower/en_US/home/_jcr_content/root/responsivegrid_695813821/responsivegrid_969720642/ttac.coreimg.jpeg/1620244013788/image.img.jpeg"
        alt="image of an ongoing construction">
    </div>
  </section>
  <section class="projects">
    <div class="projects1">
      <div class="projects-heading" style="margin-top: 1.5em;">
        <span style="font-size: 2em;">Our Projects</span>
        <p style="font-size: 1.5em;">What we Do?</p>
      </div>
      <div id="projects-btn" class="button">
        <a [routerLink]="['/projects']">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          View all projects
          <i class="fa-solid fa-arrow-right" style="color:#808080"></i>
        </a>
      </div>
    </div>
    <div class="projects2">
      <div class="projects-image-1">
        <img
          src="https://images.unsplash.com/photo-1429292394373-ddbcc6bb7468?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
          alt="">
      </div>
      <div class="projects-image-2">
        <img
          src="https://images.unsplash.com/photo-1494768788897-7fdaa00de2a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80"
          alt="">
      </div>
      <div class="projects-image-3">
        <img
          src="https://images.unsplash.com/photo-1492914194644-9685e8794ef0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=776&q=80"
          alt="">
      </div>
      <div class="projects-image-4">
        <img
          src="https://images.unsplash.com/photo-1586958479362-502a51e36455?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80"
          alt="">
      </div>
    </div>
  </section>
</main>
<footer>
  <app-footer></app-footer>
</footer>
<app-copyright></app-copyright>