<main id="main" class="container-fluid" style="width: 100vw; margin-top: 0px">
  <section class="home-img-card">
    <div></div>
    <p>
      Our Experience is ready for you <br />
    </p>
    <span>      Our Services is    </span>
  </section>
  <section class="cards" style="background-color: #383838">
    <div class="construction">
      <span class="i-box-gold"
        ><i class="fa-solid fa-building" style="font-size: 24px"></i
      ></span>
      <span class="card-heading">Construction</span>
      <p class="card-p">
        We Provide Construction Services i.e. is the process of constructing a
        building or infrastructure.
      </p>
    </div>
    <div class="rental">
      <span class="i-box-gold"
        ><i class="fa-sharp fa-solid fa-wrench" style="font-size: 24px"></i
      ></span>
      <span class="card-heading">Rental Properties</span>
      <p class="card-p">
        We efficiently Manage Rental Properties to Your satisfaction and dealing
        with Tenants and Landlord.
      </p>
    </div>
    <div class="renovations">
      <span class="i-box-gold"
        ><i class="fa-solid fa-building-user" style="font-size: 24px"></i
      ></span>
      <span class="card-heading">Property Renovations</span>
      <p class="card-p">
        We do extensive property renovations after research and innovation.
      </p>
    </div>
    <div class="ivestments">
      <span class="i-box-gold"
        ><i class="fa-solid fa-map" style="font-size: 24px"></i
      ></span>
      <span class="card-heading">Real Estate Investments</span>
      <p class="card-p">
        We also help our clients towards Real Estate Investments best ROI
        options.
      </p>
    </div>
  </section>
  <section class="about-us">
    <div class="button">
        <div class="about-us-wwa">
            <span>About Us</span>
            <p>Who we Are?</p>
        </div>
        <p class="about-us-content">New Delta Holding Corp is a Property Management Company. Main focus of the
            company is managing the rental properties, dealing with Tenants and Landlord, doing extensive property
            renovations and also helping clients towards Real Estate Investments.</p>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Read more
            <i class="fa-solid fa-arrow-right" style="color:#808080"></i>
        </a>
    </div>
    <div class="about-us-img">
        <img src="https://www.catrentalstore.com/ringpower/en_US/home/_jcr_content/root/responsivegrid_695813821/responsivegrid_969720642/ttac.coreimg.jpeg/1620244013788/image.img.jpeg"
            alt="image of an ongoing construction">
    </div>
</section>
<section class="projects">
  <div class="projects1">
      <div class="projects-heading" style="margin-top: 1.5em;">
          <span style="font-size: 2em;">Our Projects</span>
          <p style="font-size: 1.5em;">What we Do?</p>
      </div>
      <div id="projects-btn" class="button">
          <a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <i class="fa-solid fa-calculator" style="color:#808080"></i>
              Get a Quote
          </a>
      </div>
  </div>
  <div class="projects2">
      <div class="projects-image-1">
          <img src="https://images.unsplash.com/photo-1429292394373-ddbcc6bb7468?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
              alt="">
      </div>
      <div class="projects-image-2">
          <img src="https://images.unsplash.com/photo-1494768788897-7fdaa00de2a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80"
              alt="">
      </div>
      <div class="projects-image-3">
          <img src="https://images.unsplash.com/photo-1492914194644-9685e8794ef0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=776&q=80"
              alt="">
      </div>
      <div class="projects-image-4">
          <img src="https://images.unsplash.com/photo-1586958479362-502a51e36455?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80"
              alt="">
      </div>
  </div>
</section>
  <!-- <section class="row text-center">
    <div style="text-align: center">
      <h1>Our Experience is ready for you</h1>
      <hr style="width: 5vw; margin-left: 48%" />
      <h3>Our service is:</h3>
    </div>
  </section>
  <section class="col-md-10 offset-md-2">
    <div class="card bg-light col-sm-2 col-md-2">
      <i class="fa-solid fa-apartment"></i>
      <div class="card-body text-center">
        <h4>Construction</h4>
        <p>
          Construction is the process of constructing a building or
          infrastructure.
        </p>
      </div>
    </div>
    <div class="card bg-light col-sm-2 col-md-2">
      <i class="fa-solid fa-apartment"></i>
      <div class="card-body text-center">
        <h4>Rental Properties</h4>
        <p>
          We efficiently Manage Rental Properties to Your satisfaction and
          dealing with Tenants and Landlord.
        </p>
      </div>
    </div>
    <div class="card bg-light col-sm-2 col-md-2">
      <i class="fa-solid fa-apartment"></i>
      <div class="card-body text-center">
        <h4>Property Renovations</h4>
        <p>
          We do extensive property renovations after research and innovation.
        </p>
      </div>
    </div>
    <div class="card bg-light col-sm-2 col-md-2">
      <i class="fa-solid fa-apartment"></i>
      <div class="card-body text-center">
        <h4>Real Estate Investments</h4>
        <p>
          We also help our clients towards Real Estate Investments for best ROI
          options.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="col-md-5" style="display: inline-block">
      <div style="border-left: 2px solid; padding-left: 10px">
        <h4>About us</h4>
        <p>Who are we?</p>
      </div>
      <p>
        New Delta Holding Corp is a Property Management Company. Main focus of
        the company is managing the rental properties, dealing with Tenants and
        Landlord, doing extensive property renovations and also helping clients
        towards Real Estate Investments. Construction as an industry comprises
        six to nine percent of the gross domestic product of developed
        countries. Construction starts with planning, design, and financing; and
        continues until the project is built and ready for use.
      </p>
      <button>Read More</button>
    </div>
    <div class="col-md-5 offset-md-1" style="display: inline-block">
      <img
        src="https://images.pexels.com/photos/1106476/pexels-photo-1106476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Image of a building"
        height="300px"
        width="400px"
      />
    </div>
  </section>
  <section>
    <div class="col-md-5" style="display: inline-block">
      <div style="border-left: 2px solid; padding-left: 10px">
        <h4>Our Projects</h4>
        <p>What we Do?</p>
      </div>
    </div>
    <div class="col-md-5 offset-md-1" style="display: inline-block">
      <button>View All Projects</button>
    </div>
    <div class="image-grid col-md-8 offset-md-2">
      <div class="image-row">
        <div class="image01"></div>
        <div class="image03"></div>
      </div>
      <div class="image-row">
        <div class="image06"></div>
        <div class="image07"></div>
        <div class="image08"></div>
        <div class="image09"></div>
      </div>
      <div class="image-row">
        <div class="image10"></div>
        <div class="image11"></div>
      </div>
    </div>
    <div style="text-align: center">
      <button>Get Free Consultation</button>
    </div>
  </section> -->
</main>
<footer>
  <app-footer></app-footer>
</footer>
<app-copyright></app-copyright>
