<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>
<main id="main" class="container-fluid" style="width: 100vw;margin-top: 0px;">
    <section class="home-img-card">
        <div>
        </div>
        <p style="color: #ffc400;">
            Science is about Knowing<br>
            Engineering is about doing
        </p>
        <button class="btn" [routerLink]="['/projects']">View Our Projects</button>
    </section>
    <section class="cards" style="background-color: #383838;">
        <div class="construction">
            <span class="i-box-gold"><i class="fa-solid fa-building" style="font-size: 24px;"></i></span>
            <span class="card-heading">Construction</span>
            <p class="card-p">We Provide Construction Services i.e. is the process of constructing a building or
                infrastructure.
            </p>
        </div>
        <div class="rental">
            <span class="i-box-gold"><i class="fa-sharp fa-solid fa-wrench" style="font-size: 24px;"></i></span>
            <span class="card-heading">Rental Properties</span>
            <p class="card-p">We efficiently Manage Rental Properties to Your satisfaction and dealing with Tenants and
                Landlord.</p>
        </div>
        <div class="renovations">
            <span class="i-box-gold"><i class="fa-solid fa-building-user" style="font-size: 24px;"></i></span>
            <span class="card-heading">Property Renovations</span>
            <p class="card-p">We do extensive property renovations after research and innovation.</p>
        </div>
        <div class="ivestments">
            <span class="i-box-gold"><i class="fa-solid fa-map" style="font-size: 24px;"></i></span>
            <span class="card-heading">Real Estate Investments</span>
            <p class="card-p">We also help our clients towards Real Estate Investments best ROI options.</p>
        </div>
    </section>
    <section class="about-us">
        <div class="button">
            <div class="about-us-wwa">
                <span>About Us</span>
                <p>Who we Are?</p>
            </div>
            <p class="about-us-content">New Delta Holding Corp is a Property Management Company. Main focus of the
                company is managing the rental properties, dealing with Tenants and Landlord, doing extensive property
                renovations and also helping clients towards Real Estate Investments.</p>
            <a [routerLink]="['/about']">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Read more
                <i class="fa-solid fa-arrow-right" style="color:#808080"></i>
            </a>
        </div>
        <div class="about-us-img">
            <img src="https://www.catrentalstore.com/ringpower/en_US/home/_jcr_content/root/responsivegrid_695813821/responsivegrid_969720642/ttac.coreimg.jpeg/1620244013788/image.img.jpeg"
                alt="image of an ongoing construction">
        </div>
    </section>
    <section class="quote" style="background-color: #383838;">
        <span class="quote-heading">We are <span style="color: #FFD700;">Awesome Team !</span></span>
        <p class="quote-p">
            Construction as an industry comprises six to nine percent of the gross domestic
            product of developed countries. Construction starts with planning, design, and
            financing; and continues until the project is built and ready for use.
        </p>
        <div class="button" style="margin-bottom: 1.5em;">
            <a [routerLink]="['/contact']">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-solid fa-calculator" style="color:#808080"></i>
                Get a Quote
            </a>
        </div>
    </section>
    <section class="projects">
        <div class="projects1">
            <div class="projects-heading" style="margin-top: 1.5em;">
                <span style="font-size: 2em;">Our Projects</span>
                <p style="font-size: 1.5em;">What we Do?</p>
            </div>
            <div id="projects-btn" class="button">
                <a [routerLink]="['/projects']">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    View all projects
                    <i class="fa-solid fa-arrow-right" style="color:#808080"></i>
                </a>
            </div>
        </div>
        <div class="projects2">
            <div class="projects-image-1">
                <img src="https://images.unsplash.com/photo-1429292394373-ddbcc6bb7468?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
                    alt="">
            </div>
            <div class="projects-image-2">
                <img src="https://images.unsplash.com/photo-1494768788897-7fdaa00de2a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80"
                    alt="">
            </div>
            <div class="projects-image-3">
                <img src="https://images.unsplash.com/photo-1492914194644-9685e8794ef0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=776&q=80"
                    alt="">
            </div>
            <div class="projects-image-4">
                <img src="https://images.unsplash.com/photo-1586958479362-502a51e36455?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80"
                    alt="">
            </div>
        </div>
    </section>
    <section class="machines">
        <div class="machines-heading" style="margin-top: 5em;">
            <span id="machines-s1" style="font-size: 2.8em;margin-left: 5em;">We Have</span><br>
            <span  id="machines-s2" style="color: #808080;">Heavy Duty Machines</span>
        </div>
        <div class="machines-p">
            <p style="width: 55vw;">Construction as an industry comprises six to nine percent of the gross
                domestic product of developed countries. Construction starts with
                planning, design, and financing; and continues until the project is built
                and ready for use.
            </p>
        </div>
        <div class="machines-btn">
            <div id="projects-btn1" style="margin-left: 1.2vw;" class="button">
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-solid fa-calculator" style="color:#808080"></i>
                    View All Machines
                </a>
            </div>
            <div id="projects-btn2" class="button" style="margin-bottom: 1.5em;">
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-solid fa-calculator" style="color:#808080"></i>
                    Download Brochures
                </a>
            </div>
        </div>
    </section>
    <section class="ourTeam" style="margin-top: 1.5em; background-color: #383838;">
        <div class="ourTeam-heading" >
            <span style="font-size: 2em;">Our Team</span>
            <p style="font-size: 1.5em;">We Are Professional</p>
        </div>
        <div class="img">
            <div class="vert1">
                <img src="https://images.unsplash.com/photo-1589360041338-2143448e5c80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="">
                <span class="ourTeam-N" style="margin-top: 1em;">John Doe</span>
                <span class="ourTeam-R">Architect</span>
            </div>
        </div>
        <div class="img" style="align-self: center;">
            <div class="vert2">
                <img src="https://images.unsplash.com/flagged/photo-1571367034861-e6729ad9c2d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
                <span class="ourTeam-N" style="margin-top: 1em;">Mark Doe</span>
                <span class="ourTeam-R">Engineer</span>
            </div>
        </div>
        <div class="img">
            <div class="vert3">
                <img src="https://plus.unsplash.com/premium_photo-1682092105693-1a2566cf2ee1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="">
                <span class="ourTeam-N" style="margin-top: 1em;">John David</span>
                <span class="ourTeam-R">Manager</span>
            </div>
        </div>
    </section>
    <section class="map" style="margin-top: 2em;">
        <div class="contactCard" style="background-color: #373737;">
            <div class="contact-card">
                <span class="i-box-gold-c"><i class="fa fa-envelope-o image" style="display: inline-block; font-size: 30px; padding: 15px 15px;"></i></span>
                <div class="contact-content" style="min-width: 28ch;">
                    <span style="display: block;">Support</span>
                    <span>info@goldLeafConstruct.com</span>
                </div>
            </div>
            <div class="contact-card">
                <span class="i-box-gold-c"><i class="fa fa-mobile image" style="display: inline-block; font-size: 30px; padding: 15px 20px;"></i></span>
                <div class="contact-content" style="min-width: 28ch;">
                    <span style="display: block;">Phone</span>
                    <span>+91(9444898090)</span>
                </div>
            </div>
            <div class="contact-card">
                <span class="i-box-gold-c"><i class="fa fa-thumb-tack image" style="display: inline-block; font-size: 30px; padding: 15px 20px;"></i></span>
                <div class="contact-content" style="min-width: 28ch;">
                    <span style="display: block;">Address</span>
                    <span>18/9 New Hyderabad</span>
                </div>
            </div>
        </div>
        <div class="contactMap">
            <div class="contact-form-section2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7615.0423628595445!2d78.47927516993221!3d17.386758526997014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1686212182596!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main>

<footer>
    <app-footer></app-footer>
    <app-copyright></app-copyright>
  </footer>
  