// .color{
// #373737
// #FFD700 (RGB: 255, 215, 0)
// #FFBF00 (RGB: 255, 191, 0)
// #121212
// #BF0000 (RGB: 191, 0, 0)
// #808080
// #383838
// }


#main {
    background-color: #121212;
    background-repeat: repeat;
    filter: brightness(100%) contrast(140%) saturate(120%);
    background-size: cover;
}

#main>* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 28px;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
    line-height: 1.3;
}

h3 {
    font-size: 20px;
    line-height: 1.4;
}

.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    flex: 1;
}

.home-img-card>div {
    height: 60vh;
    width: 100vw;
}

.home-img-card {
    flex: 1;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1591955506264-3f5a6834570a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto;
    filter: brightness(70%) contrast(120%) saturate(120%);
    transition: 0.5s ease;
}

.home-img-card>p {
    filter: saturate(100%);
    line-height: 2em;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: contrast(200%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bolder;
    color: #121212;
}

.btn {
    background-color: #808080;
    padding: 12px;
    border-left: 10px solid #121212;
    font-size: 20px;
    color: #FFD700;
    display: block;
    position: absolute;
    top: 60%;
    left: 44%;
}

.btn:hover {
    background-color: #FFD700;
    color: #808080;
    transition: all .2s ease-in-out;
    border-left: 22px solid goldenrod;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    position: relative;
    background-color: #212121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 99%;
}

.cards>* {
    margin-top: -3em;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 5em;
}

.i-box-gold {
    height: 4em;
    width: 3.5em;
    background-color: #D4AF37;
    margin-bottom: 1em;
}

.i-box-gold i {
    color: #121212;
    padding: 0.65em;
}

.construction i {
    padding-left: 18px;
}

.construction,
.rental,
.renovations,
.ivestments {
    border: 1px solid #212121;
    width: 2em;
    background-color: #383838;
    border-bottom: 5px solid #808080;
}

.construction:hover,
.rental:hover,
.renovations:hover,
.ivestments:hover {
    transition: 0.5s ease;
    transform: translateY(-30px);
}

.card-heading {
    font-weight: bolder;
    font-size: 1.4em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    color: #808080;
}

.card-p {
    color: #FFB300;
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
}

.about-us {
    padding: 5em;
    margin: 5em;
    gap: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-us>* {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 1;
}

.about-us-content {
    color: #D4AF37;
    line-height: 1.5em;
    font-size: 18px;
}

.about-us-img>img {
    flex: 1;
    height: 28vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(70%) contrast(120%) saturate(120%);
}

// .about-us-p>button {
//     flex-wrap: wrap;
//     background-color: #121212;
//     padding: 15px;
//     border-left: 10px solid goldenrod;
//     font-size: 20px;
//     color: white;
//     display: block;
//     border-radius: 5px;
//     margin-bottom: 1.5em;
// }

// .about-us-p>button:hover {
//     background-color: #FFBF00;
//     border: none;
//     border-left: 25px solid #121212;
//     color: #121212;
//     display: block;
//     transition: all .2s ease-in-out;
// }

.about-us-wwa,
.projects-heading {
    margin-bottom: 1.5em;
    border-left: 5px solid #808080;
    padding-left: 1em;
}

.about-us-wwa>span,
.projects-heading>span {
    font-size: 1.5em;
    color: #FFD700;
    font-weight: bolder;
}

.about-us-wwa>p,
.projects-heading>p {
    color: #808080;
    font-weight: 700;
    margin-top: 0.5em;
    font-size: 1em;
}

.button>a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #FFD700;
    /* Vibrant gold color */
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border: 0.5px solid #808080;
    margin-top: 1.5em;
}

.button>a:hover {
    border: none;
    color: #121212;
    /* Darker shade of gold for hover state */
    background: #FFD700;
    /* Vibrant gold color */
    box-shadow: 0 0 10px #FFD700, 0 0 40px #FFD700, 0 0 80px #FFD700;
    /* Gold box shadow */
    transition-delay: 1s;
}

.button>a span {
    position: absolute;
    display: block;
}

.button>a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFD700);
    /* Gold gradient */
}

.button>a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.button>a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFD700);
    /* Gold gradient */
}

.button>a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.button>a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD700);
    /* Gold gradient */
}

.button>a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button>a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD700);
    /* Gold gradient */
}

.button>a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.quote {
    background-image: url("https://images.unsplash.com/photo-1602077045502-c540872c7aa3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0em 2em;
}

.quote>* {
    flex-grow: 0;
    flex-shrink: 1;
}

.quote-heading {
    margin-top: 1.5em;
    font-size: 5em;
    color: #808080;
}

.quote-p {
    color: #D4AF37;
    font-size: 1.5em;
    padding: 0.5em 5em;
    margin-top: 1em;
}

.projects {
    background-color: #383838;
    display: flex;
    flex-direction: column;

}

.projects>* {
    flex-shrink: 1;
    flex-grow: 0;
}

.projects1 {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.projects2 {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.projects-heading {
    height: 6em;
}

.projects-image-1>img {
    margin-left: 5em
}

.projects-image-4>img {
    margin-right: 5em;
    margin-bottom: 1.5em;
}

.projects-image-1>img,
.projects-image-2>img,
.projects-image-3>img,
.projects-image-4>img {
    padding: 1em;
    width: 20vw;
    height: auto;
}

.machines{
    background-image: url("https://images.unsplash.com/photo-1564483335100-3413b45dbd37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=896&q=80");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.machines > *{
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 1;
}

.machines-heading > span{
    text-align: center;
    color: #FFD700;
    font-size: 4em;
    font-weight: 500;
}

.machines-p > p{
    font-size: 1em;
    color: #D4AF37;
    justify-content: center;
    align-items: center;
    padding: 5em;
    font-weight: bolder;
}





@media screen and (max-width:1300px) {
    .about-us-img>img {
        width: 40vw;
    }
}

@media screen and (max-width:1110px) {
    .home-img-card>p {
        font-size: 30px;
    }

    .btn {
        font-size: 15px;
        top: 60%;
        left: 43%;
    }

    .about-us-img>img {
        width: 40vw;
    }
}

@media screen and (max-width:878px) {
    .projects1{
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    .projects-heading{
        align-self: flex-start;
        margin-left: 5vw;
    }
    #projects-btn > a{
        width: 80vw;
       text-align: center;
    }
}
@media screen and (max-width:878px) {
    .home-img-card>p {
        font-size: 25px;
        top: 30%;
    }

    .btn {
        font-size: 15px;
        top: 45%;
        left: 40%;
    }

    .about-us {
        flex-direction: column;
    }

    .projects2 {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .projects-image-1>img,
    .projects-image-2>img,
    .projects-image-3>img,
    .projects-image-4>img {
        margin: 0px;
        width: unset;
    }

}

@media screen and (max-width:750px) {

    .home-img-card {
        height: 50vh;
        background-repeat: repeat;
    }

    .home-img-card>p {
        font-size: 30px;
    }

    .btn {
        font-size: 15px;
        top: 68%;
        left: 35%;
    }

    .about-us {
        margin: 2em;
        padding: 2em;
    }

    .about-us-img>img {
        width: 40vh;
    }
}

@media screen and (max-width:490px) {
    .home-img-card {
        height: 50vh;
        background-repeat: repeat;
    }

    .home-img-card>p {
        font-size: 20px;
    }

    .btn {
        font-size: 15px;
        top: 68%;
        left: 18%;
    }

    .about-us {
        margin: 0.5em;
        padding: 0.5em;
    }
}

@media screen and (max-width:700px) {
    .cards {
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

    .cards>* {
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 100%;
    }

    .construction,
    .rental,
    .renovations,
    .ivestments {
        width: unset;
        margin-top: 2em;
    }
}